/* Container  and Widgets */
Collapsible.word-detail--container {
    border: solid $primary;
    padding-bottom: 0;

    CollapsibleTitle {
        background: $block-cursor-background;
        color: $block-cursor-foreground;
    }

    HorizontalGroup {
        &.collapsible--list {
            padding-left: 2;
            padding-right: 2;
        }

        ClickableSentence.text {
            margin-left: 1;
            width: 100%;
        }

        Label.text {
            margin-left: 1;
            width: 100%;
        }
    }

    ItemGrid {
        padding-left: 2;
    }

    Label.collapsible--attribution {
        padding-bottom: 1;
        width: 100%;
    }

    Sparkline {
        margin-right: 2;
    }

    Rule {
        margin-bottom: 1;
        margin-top: 1;
    }
}

WAScreen.below {
    opacity: 10% !important;
    background: $user-action !important;
    color: $foreground !important;

    CollapsibleTitle {
        color: $foreground !important;
    }
}

Switch {
    &.-on .switch--slider {
        color: $user-action;
    }
    & .switch--slider {
        color: $user-action 20%;
    }
    &:light {
        &.-on .switch--slider {
            color: $user-action;
        }
    }
}

/* Classes */
.container-bordered {
    border: solid $secondary;
    border-title-align: left;
    border-title-color: $secondary;
    border-title-style: bold;
}

.mt-1 {
    margin-top: 1;
}
