/* Container  and Widgets */

Sidebar {
    dock: left;
    width: 25%;
    height: 100vh;
    background: $background-lighten-1;

    &.with-footer {
        padding-bottom: 2;
    }

    &.with-header {
        offset: 0 1;
    }
    & > Button {
        width: 100%;
    }
}

SwitchWithLabel {
    height: auto;
    layout: horizontal;
    width: auto;
    margin-bottom: 1;
    margin-top: 1;
    padding-right: 2;
    padding-left: 2;
}

SwitchWithLabel Label {
    padding-right: 1;
    padding-top: 1; /* idk why CSS is so fucking bad at centering things. */
}

/* Classes */
.container-bordered {
    border: solid $secondary;
    border-title-align: left;
    border-title-color: $secondary;
    border-title-style: bold;
}
.mt-1 {
    margin-top: 1;
}

Collapsible.word-detail--container {
    border: solid $primary;
    padding-bottom: 0;

    CollapsibleTitle {
        background: $block-cursor-background;
    }

    HorizontalGroup {
        &.collapsible--list {
            padding-left: 2;
            padding-right: 2;
        }

        Label.text {
            margin-left: 1;
            width: 100%;
        }
    }

    ItemGrid {
        padding-left: 2;
    }

    Label.collapsible--attribution {
        padding-bottom: 1;
        width: 100%;
    }

    Sparkline {
        margin-right: 2;
    }

    Rule {
        margin-bottom: 1;
        margin-top: 1;
    }
}
